In [1]:
import pandas as pd

In [2]:
from fuzzywuzzy import process

In [3]:
import re

In [4]:
launches_df = pd.read_excel("./extracted_data/launches.xlsx")

In [5]:
rockets_df = pd.read_excel("./extracted_data/rockets.xlsx")

In [6]:
standard_rocket_names = rockets_df["name"].unique()

In [7]:
def fuzzy_match(name,target_names):
    match, score = process.extractOne(name, target_names)
    return match if score > 85 else None  # Tune threshold as needed

In [8]:
# Apply fuzzy matching where no exact match was found
launches_df["standard_rocket_name"] = launches_df["rocket"].apply(lambda x: fuzzy_match(x, standard_rocket_names) or None)

In [9]:
unmatched_rockets = launches_df[launches_df["standard_rocket_name"].isna()]["rocket"].dropna().unique()

In [10]:
len(unmatched_rockets)

30

In [11]:
launches_df.to_excel("standard_names_launches.xlsx",columns=["rocket","standard_rocket_name"])

In [12]:
unmatched = launches_df[launches_df["standard_rocket_name"].isna()]

In [13]:
unmatched["rocket"].value_counts()

rocket
Kosmos 11K63                    126
R-36O 8K69                       21
Little Joe                        8
Kosmos 65S3                       8
Project Pilot                     6
Lambda 4S                         5
K65M-RB                           4
UR-500                            4
Nike Cajun                        4
Kosmos 11K65                      4
RS1                               3
Nuri                              3
Sputnik 11A59                     2
R-36O 8K69M                       2
Vulcan VC2S                       2
Vulcan VC4L                       2
Qaem 100                          2
Gaganyaan Abort Test Booster      2
Orion Abort Test Booster          1
SPARK                             1
KAIROS                            1
Black Brant IX                    1
SR75                              1
Spectrum                          1
RFA One                           1
Prime                             1
Vulcan VC6L                       1
H3                                1
ZERO                              1
Unknown Launch Vehicle            1
Name: count, dtype: int64

In [14]:
rocket_manual_map = {
    "Kosmos 11K63": "Cosmos-3 (11K65)",
    "Kosmos 65S3": "Cosmos-1 (65S3)",
    "UR-500": "Proton",
}

In [15]:
launches_df["standard_rocket_name"] = launches_df["standard_rocket_name"].fillna(
    launches_df["rocket"].map(rocket_manual_map)
)

In [16]:
launches_df = launches_df.dropna(subset=["standard_rocket_name"])

In [17]:
launches_df = launches_df.drop(columns=["rocket"])

In [19]:
launches_df.rename(columns={"standard_rocket_name": "rocket"}, inplace=True)

In [20]:
launches_df.to_excel("./standardized_data/launches.xlsx",index=False)